<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="data_dir" value="C:\\Users\\doram\\Downloads\\dodavanjemeni\\ProcessVirtualization\\Data"/>
		<add key="data_timeout" value="2"/>
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	
	<system.serviceModel>
		<services>
			<service name="Server.Service">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/"/>
					</baseAddresses>
				</host>
				<endpoint address="ILoad" binding="netTcpBinding" contract="Common.ILoad"/>
				<endpoint address="IAudit" binding="netTcpBinding" contract="Common.IAudit"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
