<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="csv_save_dir" value="C:\\Users\\Bojan\\Desktop\\Vituelizacija procesa\\delete\\ProcessVirtualization"/>
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<system.serviceModel>
		<client>
			<endpoint name="AuditService" address="net.tcp://localhost:4000/IAudit" binding="netTcpBinding" contract="Common.IAudit"/>

			<endpoint name="LoadService" address="net.tcp://localhost:4000/ILoad" binding="netTcpBinding" contract="Common.ILoad"/>
		</client>
	</system.serviceModel>
</configuration>
